*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

video {
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
}

.result {
  align-self: flex-end;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none; /*убрал обводку*/
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
} /*При наведении курсора на элемент "search-formlabel", текст будет подчеркнут тонкой белой линией толщиной 1 пиксель с отступом 5 пикселей от текста.*/

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
} /* Если элемент "search-formlabel" содержит дочерний элемент, который в фокусе и видим (селектор :focus-visible), тогда добавляется белая рамка толщиной 1 пиксель с отступом 1 пиксель от элемента*/

.search-form__textfield {
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  min-inline-size: 225px;
  min-block-size: 27px;
  appearance: none;
}
/*стили рамки у поиска*/

.search-form__textfield:active {
  outline: 1px solid currentColor;
} /*при нажатии появляется белая рамка*/

.search-form__textfield:focus {
  outline: none;
}

.search-form .search-form__textfield:focus-visible {
  outline: 1px solid currentColor;
} /*если элемент в фокусе видим, то снова убирается стандартная рамка*/

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.button {
  border: 1px solid currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

.more-button {
  inline-size: 100%;
  min-block-size: 34px;
}

/*Добавляю состояния для кнопки*/

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
} /*линия при наведении*/

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
  min-block-size: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  padding-block-end: 26px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto; /*добавляю скролл вертикальный*/
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px; /*добавляет отступ элементам, чтобы визуально разделить элементы списка*/
}

.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
}

/* добавляю состояния списку городов*/

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  color: #fff;
  font-weight: 400;
  line-height: 16.2px;
  max-inline-size: 200px;
  word-wrap: break-word;
}

.content__video-card-thumbnail {
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center; /*сохраняю пропорции изображения и задаю их по центру*/
}
